<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>732246766975-v6pf2hg50b59e4oq4bcga82l6kq1279g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732246766975-v6pf2hg50b59e4oq4bcga82l6kq1279g</string>
	<key>API_KEY</key>
	<string>AIzaSyAfT8uErStSE8A80d_50tz2gOX_qodwcbs</string>
	<key>GCM_SENDER_ID</key>
	<string>732246766975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.horbac.FirebaseNotifications</string>
	<key>PROJECT_ID</key>
	<string>fir-notifications-bcfaf</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notifications-bcfaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:732246766975:ios:17bdc098aad3d993</string>
	<key>DATABASE_URL</key>
	<string>https://fir-notifications-bcfaf.firebaseio.com</string>
</dict>
</plist>